$font-color: rgb(81, 81, 81);
$icons-color: rgb(70, 70, 70);
$dark-title-color: rgb(19, 19, 19);
$white-title-color: rgb(255, 255, 255);
$gray-color: rgb(226, 227, 229);
$dark-gray-color: rgb(170, 169, 169);
$green-color: rgb(151, 191, 16);
$yellow-color: rgb(250, 182, 3);
$blue-color: rgb(50, 187, 180);
