@import 'variables';

.mainDiv {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $blue-color;
  color: $white-title-color;
}

.bgImage {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1493934558415-9d19f0b2b4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1336&q=80) 90% / cover no-repeat;
  opacity: 0.2;
}

.appointmentsDiv {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
}

.mainTitle {
  margin: 100px 100px 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.appointment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px 20px;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.appElement {
  margin: 5px;
  font-weight: bold;
}

.spanInfo {
  margin-left: 20px;
  text-align: right;
}
