@import 'variables';

.mainDiv {
  font-family: 'Baloo Paaji 2', cursive;
  display: grid;
  grid-template-columns: [space1] 12% [tutor1] 25% [tutor2] 25% [tutor3] 25% [space2] auto;
  grid-template-rows: [title] 15% [space] 10% [tutorDiv] 80%;
  min-height: 100%;
  margin: auto;
}

.separator {
  grid-column: space1;
}

.divisor {
  color: $dark-gray-color;
  padding: 20px 0;
  font-size: 0.8rem;
  opacity: 40%;
}

.tutorDiv,
.tutorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10px;
  grid-row: tutorDiv;
}

.title {
  text-align: center;
  grid-column: tutor2;
}

.mainTitle {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5px;
}

.subTitle {
  color: $dark-gray-color;
}

.tutorPic {
  max-width: 80%;
}

.tutorInfo {
  height: 25%;
  align-content: space-around;
}

.tutorName {
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
}

.socialDiv {
  grid-row: social;
  display: flex;
  justify-content: center;
}

.socialIcon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  &:hover {
    opacity: 60%;
  }
}

.about {
  overflow: hidden;
  height: 12.8rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: silver;
}

.nextButton,
.prevButton {
  align-self: center;
  padding: 10px 20px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
}

.nextButton {
  grid-row: tutorDiv;
  grid-column: space2;
  background: #97bf10;
  border-radius: 120px 0 0 120px;
  margin-left: 30px;
}

.prevButton {
  grid-row: tutorDiv;
  grid-column: space1;
  background: $gray-color;
  border-radius: 0 120px 120px 0;
  margin-right: 30px;
}