@import 'variables';

a {
  text-decoration: none;
}

.mainDiv {
  display: grid;
  grid-template-columns: [space1] 12% [tutor1] 25% [tutor2] 25% [tutor3] 25% [space2] auto;
  grid-template-rows: [title] 15% [tutordiv] auto;
  margin: auto;
  padding: 100px 0;
  height: 74%;
}

.separator {
  grid-column: space1;
}

.divisor {
  color: $dark-gray-color;
  padding: 20px 0;
  font-size: 0.8rem;
  opacity: 40%;
}

.tutorDiv,
.tutorInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  grid-row: tutorDiv;
  text-decoration: none;
}

.title {
  text-align: center;
  grid-column: tutor2;
}

.mainTitle {
  font-family: 'Baloo Paaji 2', cursive;
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.subTitle {
  color: $dark-gray-color;
}

.tutorPic {
  max-width: 100%;
  margin-bottom: 20px;
  transition: max-width ease-in-out 0.3s;

  &:hover {
    max-width: 105%;
  }
}

.tutorInfo {
  height: 25%;
  align-content: space-around;
}

.tutorName {
  font-family: 'Baloo Paaji 2', cursive;
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
  color: black;
}

.socialDiv {
  grid-row: social;
  display: flex;
  justify-content: center;
}

.socialIcon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  opacity: 40%;

  &:hover {
    opacity: 150%;
    cursor: pointer;
  }
}

.about {
  overflow: hidden;
  height: 7.9rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: silver;
}

.nextButton {
  grid-row: tutorDiv;
  grid-column: space2;
  background: $green-color;
  border-radius: 120px 0 0 120px;
  margin-left: 30px;
}

.prevButton {
  grid-row: tutorDiv;
  grid-column: space1;
  background: $gray-color;
  border-radius: 0 120px 120px 0;
  margin-right: 30px;
}

.nextButton,
.prevButton {
  align-self: center;
  padding: 10px 20px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 2.5rem;

  &:hover {
    cursor: pointer;
  }
}
